# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
https://digital-applications-assets.sgp1.digitaloceanspaces.com/digitalassetsbucket/NewParamScienceWeb/Pitch
/.pnp
.pnp.js
/src/pages/PitchDeckhttps://digital-applications-assets.sgp1.digitaloceanspaces.com/digitalassetsbucket/NewParamScienceWeb/pitchDeck.mp4
/.env
.env
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Large assets - stored in DigitalOcean Spaces
public/Back/
public/EasterEggs/
public/ExperiencePage/
public/GamingZone/
public/Highlights/
public/MBack/
public/Objects/
public/PhoneBack/
public/SpObjects/

src/pages/EquationGallery/Facts/public/
src/pages/EquationGallery/Desmos/public/
src/components/equationalGallery/public/


*.tar.gz

*.tar.gz
